<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawsome Libraries -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    <!-- Style.css link -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
        <div id="app">
           <div class="site_wrapper">
               <header id="site_header">
               </header>
               <!-- /#site_header -->
               <main id="site_main"></main>
               <!-- /#site_main -->
               <div class="app_wrapper">
                   <aside id="app_aside">
                    <header id="aside_header">
                           <div class="current_user">
                               <div class="current_user_details">
                                   <img src="./assets/img/avatar_3.jpg" alt="">
                                   <div class="current_user_name">
                                        Sofia
                                   </div>
                                   <!-- /.current_user_name -->
                               </div>
                               <!-- /.current_user_details -->
                               <div class="message_icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                               </div>
                               <!-- /.message_icons -->
                           </div>
                           <!-- /.current_user -->
                    </header>
                    <!-- /#aside_header -->
                    <div class="new_messages">
                        <div class="new_messages_icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <!-- /.new_messages_icon -->
                        <div class="new_meassages_info">
                            <div class="notification">
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <!-- /.notification -->
                            <a href="" class="enable_notifications">
                                Attiva notifiche desktop
                            </a>
                            <!-- /.enable_notifications -->
                        </div>
                        <!-- /.new_meassages_info -->
                    </div>
                    <!-- /.new_messages -->
                    <div class="search">
                        <a><i class="fa-solid fa-magnifying-glass"></i></a>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- /.search -->
                    <div id="aside_main">
                        <div class="user_wrapper" v-for="(contact, index) in contacts" @click="changeChat(index)" :class="activeUser === index ? 'active' : ''">
                            <div class="user">
                                <div class="user_img">
                                    <img :src="contact.avatar" alt="">
                                </div>
                                <!-- /.user_img -->
                                <div class="user_details">
                                    <div class="user_name">
                                        {{contact.name}}
                                    </div>
                                    <!-- /.user_name -->
                                    <small class="last_message_info">
                                        Ultimo messaggio inviato
                                    </small>
                                    <!-- /.last_message_info -->
                                </div>
                                <!-- /.user_details -->
                            </div>
                            <!-- /.user -->
                            <small class="time">12:00</small>
                            <!-- /.time -->
                        </div>
                        <!-- /.user_wrapper -->

          
                    </div>
                    <!-- /#aside_main -->
                   </aside>
                   <!-- /.all_chats -->
                   <div id="app_main">
                       <header id="app_main_header">
                        <div class="current_user">
                            <div class="current_user_img">
                                <img :src="contacts[activeUser].avatar" alt="">
                            </div>
                            <!-- /.current_user_img -->
                            <div class="current_user_details">
                                
                                <div class="current_user_name">
                                     {{contacts[activeUser].name}}
                                </div>
                                <!-- /.current_user_name -->
                                <small class="last_access">
                                    Ultimo accesso oggi alle 12:00
                                </small>
                            </div>
                            <!-- /.current_user_details -->
                        </div>
                        <!-- /.current_user -->
                        <div class="message_icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                           <!-- /.message_icons -->
                       </header>
                       <!-- /#app_main_header -->

                       <div class="chat_area">
                             <div class="message_box" v-for="(message, index) in contacts[activeUser].messages" :class="message.status === 'sent' ? 'sent_message' : 'inbox_message'">
                                   {{message.message}}
                            </div>
                            <!-- /.message_box -->
                        </div>
                        <!-- /.chat_area -->

                       <footer id="app_main_footer">
                           <div class="left_icon">
                                <i class="fa-solid fa-face-smile"></i>
                           </div>
                           <!-- /.left_icon -->
                           <div class="type_message_area">
                               <input type="text" placeholder="Scrivi un messaggio">
                           </div>
                           <!-- /.type_message_area -->
                           <div class="right_icon">
                                <i class="fa-solid fa-microphone"></i>
                           </div>
                           <!-- /.right_icon -->
                       </footer>
                   </div>
                   <!-- /#app_main -->
                  
                   
               </div>
               <!-- /.app_wrapper -->

           </div>
           <!-- /.app_wrapper -->
        </div>
        <!-- /#app -->
    <!-- VueJs Libraries -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <!-- App.js link -->
    <script src="./assets/js/app.js"></script>
</body>
</html>