/* Variables */
:root {
    --text-dark: #000000;
    --text-light-gray: #B6B9BE;
    --header-bg: #009688;
    --body-bg: #DADBD5;
    --icons-gray: #B1B1B1;
    --header-app-bg: #EAEAEA;
    --footer-app-bg: #F3EEEA;
    --new-messages-bg: #8EDAFC;
    --message-box-green: #D5F9BA;

}

/* Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#aside_header, #app_main_header {
    padding: 0.75rem;
    background-color: var(--header-app-bg);
}

#aside_header .current_user_details, #app_main_header .current_user {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}


#aside_main img, #aside_header img, #app_main img {
    width: 70px;
    border-radius: 50%;
}

#aside_header .current_user, #app_main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aside_header .message_icons i, #app_main_header .message_icons i {
    margin-left: 0.75rem;
}

#aside_main .user_wrapper small, #app_main_header small {
    color: var(--text-light-gray);
}


#aside_header .message_icons, #app_main_header .message_icons, #app_main_footer i  {
    color: var(--icons-gray);
    font-size: 25px;
}
/* Site Wrapper */

.site_wrapper {
    height: 100vh;
    position: relative;
}

/* Site Header, Sitew Main */

#site_header {
    height: 150px;
    background-color: var(--header-bg);
}

#site_main {
    height: calc(100% - 150px);
    background-color: var(--body-bg);
}

/* App */

.app_wrapper {
    height: 95vh;
    width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#aside_header {
    border-right: 1px solid lightgray;

}

#app_aside {
    width: 30%;
    background-color: white;
}

#app_main {
    width: 70%;
}

#app_aside .new_messages {
    background-color: var(--new-messages-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#app_aside .enable_notifications {
    font-size: 15px;
    color: var(--text-light-gray);
}

#app_aside .new_messages_icon {
    background-color: white;
    padding: 0.75rem;
    border-radius: 50%;
    color: var(--icons-gray);
}

#app_aside .search {
    display: flex;
    padding: 0.25rem;
    background-color: var(--header-app-bg);
}

#app_aside .search a {
    color: var(--icons-gray);
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.675);
    border-right: none;
    padding: 0.5rem 2rem;
}

#app_aside .search input {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.675);
    padding-left: 0.5rem
}

#aside_main {
    overflow: auto;
    max-height: 700px;
}

#aside_main .user_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 1px solid rgba(211, 211, 211, 0.675);
}

#aside_main .user {
    display: flex;
    column-gap: 1rem;
}


#app_main_header .current_user {
    column-gap: 1rem;
}

#app_main {
    background-image: url(../img/mine.jpg);
    background-size: auto;
}

#app_main .chat_area {
    height: calc(100% - 168px)
}

#app_main_footer {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    background-color: var(--footer-app-bg);
}

#app_main_footer .type_message_area {
    width: 80%;
}

#app_main_footer .type_message_area input {
    width: 100%;
    padding: 0.75rem;
}

#app_main_footer .right_icon, #app_main_footer .left_icon {
    width: 10%;
    text-align: center;
}


.chat_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 5rem;

}

.chat_area .message_box {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
}

.inbox_message {
    background-color: white;
    align-self: start;
}

 .sent_message {
   background-color: var(--message-box-green);
   align-self: flex-end;
}

.active {
    background-color: lightgray;
}